body {
    background: url(https://picua.org/images/2019/11/25/f205470bd8528c19fb6dd506affcf7dd.jpg);
    font-size: 20pt;
    color: blue
}

h1 {
    background: rgba(255, 0, 0, 0.4)
}

h2 {
    background: rgba(255, 0, 0, 0.4)
}